<article class="user-form">
  <h3>FORMULAIRE D'INSCRIPTION</h3>
  <form [formGroup]="userForm">
    <div class="user-form-group">
      <label for="email">Email</label>
      <input required id="email" type="email" formControlName="email">
    </div>
    <div class="user-form-group">
      <label for="pwd">Mot de passe</label>
      <input required id="pwd" type="password" formControlName="pwd">
    </div>
    <div class="user-form-group">
      <label for="nom">Nom</label>
      <input required id="nom" type="text" formControlName="firstName">
    </div>
    <div class="user-form-group">
      <label for="genre">Genre</label>
      <select required formControlName="gender">
        <option value="Homme">Homme</option>
        <option value="Femme">Femme</option>
        <option value="ielle">Ielle</option>
        <option value="indéterminé">indéterminé</option>
      </select>
    </div>
    <div class="user-form-group">
      <label for="prenom">Prénom</label>
      <input required id="prenom" type="text" formControlName="surname">
    </div>
    <div class="user-form-group">
      <label for="username">Nom utilisateur</label>
      <input required id="username" type="text" formControlName="username">
    </div>
    <div class="user-form-group">
      <label for="naissance">Date de naissance</label>
      <input id="naissance" type="date" formControlName="birthday">
    </div>
    <div class="action-button">
      <button type="submit" (click)="onSubmitForm()">S'inscrire</button>
    </div>
  </form>
</article>
