<article class="user-form">
  <h3>CONNEXION</h3>
  <form formGroupName="connexionForm">
    <div class="user-form-group">
      <label for="username">Nom utilisateur</label>
      <input required id="email" type="username" formControlName="username" required>
    </div>
    <div class="user-form-group">
      <label for="mdp">Mot de passe</label>
      <input required id="mdp" type="password" formControlName="mdp" required>
    </div>
    <div class="action-button">
      <button type="submit" (click)="onSubmitForm()">Se connecter</button>
    </div>
  </form>
</article>
