<article class="user-form">
  <h3>CONNEXION</h3>
  <form [formGroup]="connexionForm">
    <div class="user-form-group">
      <label for="username">Nom utilisateur</label>
      <input id="username" type="text" formControlName="username">
    </div>
    <div class="user-form-group">
      <label for="mdp">Mot de passe</label>
      <input id="pwd" type="password" formControlName="pwd">
    </div>
    <div class="action-button">
      <button type="submit" (click)="onLogin()" >Se connecter</button>
    </div>
  </form>
</article>
