@media all {
  .appears {
    animation-name: fadein;
    animation-delay: 450ms;
    animation-duration: 2250ms;
    animation-timing-function: ease-in-out;
  }

  .hide {
    opacity: 0;
  }

  .stay {
    opacity: 1;
  }

  @keyframes fadein {
    0% {
      transform: translateY(-50%);
      opacity: 0%;
    }

    100% {
      transform: translateY(0%);
      opacity: 100%;
    }
  }

  .comment-card {
    margin-top: 55px;
    margin-bottom: 50px;
    padding: 10px 20px;
    background-color: rgba(20, 20, 30, .15);
    border-radius: 0.625em;
    box-shadow: 4px 4px 4px 4px rgba(10, 10, 10, .25);

    .comment-head {

      h4, h5 {
        text-transform: uppercase;
        font-weight: 800;
      }

      h4 {
        padding:10px;
      }

      h5 {
        padding: 5px;
      }

      .hidden-text {
        padding: 7px 20px;
        border-radius: .155em;
        border: 2px rgb(50, 50, 60) solid;
        background-color: rgba(220, 220, 230, .97);
        color: rgb(20, 20, 30);
        text-align: center;
        position: absolute;
        margin-left: 50px;
        width:fit-content;
        font-size: 14px;
        text-transform: none;
        opacity: 0;
        transition:all 200ms 450ms ease-out;
      }

      .user-profile-access {
        transition: text-decoration 400ms 550ms ease-out;
        text-decoration: underline;
        cursor:pointer;

        &:hover {
          transition: text-decoration 350ms 450ms ease-in;
        }

        &:hover ~ .hidden-text {
          opacity: 1;
          transition:all 250ms 550ms ease-in;
        }
      }

      .comment-avatar {
        background-color: rgba(112, 108, 108, 0.25);
        border-radius: 1em;
        z-index: 50;
        padding: 5px;
        position: absolute;

        img {
          position: absolute;
        }
      }

      .comment-avatar-verygood {
        border: rgb(8, 78, 25) solid 4px;
        color: whitesmoke;
      }

      .comment-avatar-good {
        border: rgb(8, 199, 56) solid 4px;
      }

      .comment-avatar-medium {
        border: rgb(196, 199, 8) solid 4px;
      }

      .comment-avatar-notenough {
        border: rgb(199, 126, 8) solid 4px;
      }

      .comment-avatar-bad {
        border: rgb(199, 68, 8) solid 4px;
      }
    }

    .comment-grade {
      height:60px;
      width: 60px;
      padding: 20px;
      border-radius: 0.65em;
      position: absolute;
      z-index: 50;
      box-shadow: 5px 3px 3px rgba(10, 10, 10, .25);

      span {
        position: absolute;
        top: 25%;
        left: 25%;
        font-size: 275%;
      }
    }

    .comment-body {
      h5 {
        font-size:22px;
        text-transform: uppercase;
        margin-left: 15%;
        margin-bottom:15px;
      }

      margin-top: 5%;
      margin-left: 2.5%;
    }

    .set-comment-box {
      width: 100%;
      font-size: 18px;
      padding-bottom: 50px;
      height: 250px;

      button {
        position: relative;
        font-size: 125%;
        border: 3px solid rgba(56, 99, 200, .15);
        padding: 10px 50px;
        margin-top: 15px;
        color: white;
        background-color: rgb(30, 30, 40);
        box-shadow: 6px 4px 4px rgba(19, 35, 72, 0.25);
        text-transform: uppercase;
        border-radius: 0.75em;
        font-weight: 800;
        transition: all 250ms 250ms ease-out;

        &:hover {
          transform: translate(5px, 2px);
          transition: all 250ms 350ms ease-in;
          box-shadow: none;
        }
      }

      #open-comment-form {
        margin-left: 30%;
      }

      .set-comment-form-box {
        width: 90%;
        margin-left: 5%;
        font-weight: 750;

        form {
          width: 100%;
          padding: 10px;
          border: rgb(30, 30, 40) 3px solid;
          border-radius: .55em;

          .set-comment-form-group {
            flex: auto;
            display: flex;
            width: 100%;

            label {
              width: 30%;
              padding: 10px;
              text-transform: uppercase;
              font-size: 16px;
            }

            input, textarea, select {
              border-radius: .355em;
              margin: 2.5%;
              padding: 5px;
            }

            input, textarea {
              width: 60%;
              font-size: 16px;
            }

            select {
              font-size: 16px;
            }

            textarea {
              height: 100px;
            }
          }

          #validate, #cancel {
            position: absolute;
          }

          #validate {
            margin-left: 15%;
          }

          #cancel {
            margin-left: 35%;
          }
        }
      }
    }
  }



  .verygood-comment {
    border: rgb(8, 78, 25) 3px solid;
    background-color: rgba(8, 78, 25, 0.75);
    color: white;
  }

  .good-comment {
    border: rgb(8, 199, 56) 3px solid;
    background-color: rgba(11, 133, 41, 0.35);
    color: white;
  }

  .medium-comment {
    border: rgb(196, 199, 8) 3px solid;
    background-color: rgba(196, 199, 8, .75);
  }

  .notenough-comment {
    border: rgb(199, 126, 8) 3px solid;
    background-color: rgba(199, 126, 8, .65);
  }

  .bad-comment {
    border: rgb(199, 68, 8) 3px solid;
    background-color: rgba(199, 68, 8, .75);
  }

  .form-appeared {
    height:800px;
  }

  .form-disappeared {
    height: 400px;
  }
}

@media (max-width:2500px) and (min-width: 1400px) {
  .comment-card {
    width:70%;
    margin-left:13%;
    height: 350px;

    .comment-head {
      width: 60%;
      margin: 2.5% 200px;
      height:100px;

      h4, h5 {
        text-transform: uppercase;
        font-weight: 750;
      }

      h4 {
        font-size:28px;
        padding:10px;
      }

      h5 {
        font-size: 24px;
        padding: 5px;
      }

      .comment-avatar {
        height:150px;
        width:150px;
        margin-left:-180px;
        margin-top:-100px;

        img {
          height: 90%;
          width: 90%;

          margin-left: 2.5%;
        }
      }
    }

    .comment-grade {
      margin-left: 720px;
      margin-top: -130px;

      span {
        position: absolute;
        top: 25%;
        left: 25%;
        font-size: 275%;
      }
    }

    .comment-body {
      width: 80%;
      margin-top: 75px;
      margin-left: 2.5%;
      h5 {
        padding-bottom: 15px;
      }
      p {
        font-size: 18px;
      padding-bottom: 25px;
      }
    }

    .user-isAdmin {
      border: rgb(200, 50, 50) solid 4px;
      padding: 0px 5px;
      font-size: 200%;
      border-radius: .355em;
    }
  }
}

@media (max-width:1399px) and (min-width:1200px) {
  .comment-card {
    width:80%;
    margin-left:11%;
    height: 300px;

    .comment-head {
      width: 60%;
      margin: 2.5% 200px;
      height:100px;

      h4, h5 {
        text-transform: uppercase;
        font-weight: 800;
      }

      h4 {
        font-size:28px;
        padding:10px;
      }

      h5 {
        font-size: 24px;
        padding: 5px;
      }

      .comment-avatar {
        height:150px;
        width:150px;
        margin-left:-175px;
        margin-top:-125px;

        img {
          height: 100%;
          width: 100%;

          margin-left: 5%;
        }
      }
    }

    .comment-grade {
      margin-left: 820px;
      margin-top: -130px;

      span {
        position: absolute;
        top: 25%;
        left: 25%;
        font-size: 275%;
      }
    }

    .comment-body {
      width: 80%;
      margin-top: 5%;
      margin-left: 2.5%;
      p {
        font-size: 18px;
      }
    }
  }
}

@media (max-width:1199px) and (min-width: 993px) {
  .comment-card {
    width:75%;
    margin-left:11%;
    height: 300px;

    .comment-head {
      width: 80%;
      margin: 2.5% 200px;
      height:100px;

      h4, h5 {
        text-transform: uppercase;
        font-weight: 800;
      }

      h4 {
        font-size:26px;
        padding:10px;
      }

      h5 {
        font-size: 22px;
        padding: 5px;
      }

      .comment-avatar {
        height:125px;
        width:125px;
        margin-left:-175px;
        margin-top:-110px;

        img {
          height: 100%;
          width: 100%;

          margin-left: 5%;
        }
      }
    }

    .comment-grade {
      margin-left: 600px;
      margin-top: -130px;

      span {
        position: absolute;
        top: 25%;
        left: 25%;
        font-size: 275%;
      }
    }

    .comment-body {
      width: 80%;
      margin-top: 7.5%;
      margin-left: 2.5%;
      p {
        font-size: 16px;
      }
    }
  }
}

@media (max-width:992px) and (min-width:768px) {
  .comment-card {
    width:82.5%;
    margin-left:9%;
    height: 300px;

    .comment-head {
      width: 90%;
      margin: 2.5% 125px;
      height:150px;

      h4, h5 {
        text-transform: uppercase;
        font-weight: 800;
        margin-left: 5%;
      }

      h4 {
        font-size:24px;
        padding:10px;
      }

      h5 {
        font-size: 20px;
        padding: 5px;
      }

      .comment-avatar {
        height:125px;
        width:125px;
        margin-left:-130px;
        margin-top:-110px;

        img {
          height: 100%;
          width: 100%;

          margin-left: 5%;
        }
      }
    }

    .comment-grade {
      margin-left: 550px;
      margin-top: -175px;

      span {
        position: absolute;
        top: 25%;
        left: 25%;
        font-size: 275%;
      }
    }

    .comment-body {
      width: 95%;
      margin-top: 1.5%;
      margin-left: 2.5%;
      p {
        font-size: 16px;
      }
    }
  }
}

@media (max-width:767px) and (min-width:620px) {
  .comment-card {
    width:84%;
    margin-left:8%;
    height: 350px;

    .comment-head {
      width: 90%;
      margin: 5% 125px;
      height:150px;

      h4, h5 {
        text-transform: uppercase;
        font-weight: 800;
        margin-left: 7.5%;
      }

      h4 {
        font-size:26px;
        padding:10px;
      }

      h5 {
        font-size: 22px;
        padding: 5px;
      }

      .comment-avatar {
        height:125px;
        width:125px;
        margin-left:-130px;
        margin-top:-110px;

        img {
          height: 100%;
          width: 100%;

          margin-left: 5%;
        }
      }
    }

    .comment-grade {
      margin-left: 400px;
      margin-top: -80px;

      span {
        position: absolute;
        top: 25%;
        left: 25%;
        font-size: 275%;
      }
    }

    .comment-body {
      width: 90%;
      text-justify: newspaper;
      margin-top: 7.5%;
      margin-left: 2.5%;
      p {
        font-size: 16px;
      }
    }
  }
}

@media (max-width:619px) and (min-width:0px) {
  .comment-card {
    width:95%;
    margin-left:1%;
    height: 400px;

    .comment-head {
      width: 90%;
      margin: 0% 125px;
      height:150px;

      h4, h5 {
        text-transform: uppercase;
        font-weight: 800;
      }

      h4 {
        font-size:24px;
        padding:10px;
        margin-left:-125px;
      }

      h5 {
        font-size: 18px;
        padding: 5px;
        margin-left:-125px;
      }

      .comment-avatar {
        height:100px;
        width:100px;
        margin-left:-130px;
        margin-top:0px;

        img {
          height: 100%;
          width: 100%;

          margin-left: 5%;
        }
      }
    }

    .comment-grade {
      margin-left: 250px;
      margin-top: -65px;

      span {
        position: absolute;
        top: 25%;
        left: 25%;
        font-size: 275%;
      }
    }

    .comment-body {
      width: 90%;
      text-justify: newspaper;
      margin-top: 75px;
      margin-left: 2.5%;
      p {
        font-size: 14px;
      }
    }
  }
}
