<article class="comment-card" *ngIf="comment" [ngClass]="{
  'stay': isAnimated,
  'appears': true,
  'hide': false,
  'verygood-comment' : comment.grade >= 75 && comment.grade <= 100,
  'good-comment' : comment.grade >= 60 && comment.grade <= 74,
  'medium-comment' : comment.grade >= 50 && comment.grade <= 59,
  'notenough-comment': comment.grade >= 35 && comment.grade <= 49,
  'bad-comment': comment.grade >= 0 && comment.grade <= 34
   }"
  [ngStyle]="{'padding-bottom.px': isOpenedForm ? '325' : '25' }">
  <section class="comment-head">
    <h4>Posté par :
      <a class="user-profile-access" *ngIf="isUserExists" (click)="accessToPublicProfile(comment.user.id)">{{ comment.user.username }}</a>
      <div class="hidden-text">Accès au profil de {{ comment.user.username }}</div>
      <span *ngIf="!isUserExists">{{ comment.user.username }}</span>
      <span *ngIf="comment.user.isAdmin" [ngClass]="{ 'user-isAdmin' : comment.user.isAdmin}" style="color: rgb(250, 20, 50)">A</span>
    </h4>

    <h5>Le {{ comment.postDate | date: "dd MMMM yyyy, à hh:mm" }}</h5>
    <section *ngIf="comment.user.avatar !== '' && comment.user.avatar" class="comment-avatar" [ngClass]="{
                    'comment-avatar-verygood': comment.grade >= 75 && comment.grade <= 100,
                    'comment-avatar-good': comment.grade >= 60 && comment.grade <= 74,
                    'comment-avatar-medium': comment.grade >= 50 && comment.grade <= 59,
                    'comment-avatar-notenough': comment.grade >= 35 && comment.grade <= 49,
                    'comment-avatar-bad': comment.grade >= 0 && comment.grade <= 34,
                   }">
      <img [src]="comment.user.avatar" [alt]="comment.user.username">
    </section>
  </section>
  <h4 class="comment-grade" [ngClass]="{ verygood: comment.grade >= 75 && comment.grade <= 100,
                     good: comment.grade >= 60 && comment.grade <= 74,
                     medium: comment.grade >= 50 && comment.grade <= 59,
                     notenough: comment.grade >= 35 && comment.grade <= 49,
                     bad: comment.grade >= 0 && comment.grade <= 34
                   }">
    <span>{{ comment.grade }}</span>
  </h4>
  <section class="comment-body">
    <h5>{{ comment.title }}</h5>
    <p>{{ comment.content }}</p>
  </section>
  <section *ngIf="currentUser !== null" class="set-comment-box">
    <button (click)="openSetCommentForm()" *ngIf="currentUser.id === comment.user.id && !isOpenedForm" id="open-comment-form">Modifier mon commentaire</button>
    <section class="set-comment-form-box" *ngIf="currentUser.id === comment.user.id && isOpenedForm">
      <form class="set-comment-form" [formGroup]="setComForm">
        <div class="set-comment-form-group">
          <label for="title">Titre</label>
          <input type="text" id="title" formControlName="title">
        </div>
        <div class="set-comment-form-group">
          <label for="title">Commentaire</label>
          <textarea formControlName="content" id="content"></textarea>
        </div>
        <div class="set-comment-form-group">
          <label for="title">Titre</label>
          <select formControlName="grade" class="grade" id="grade">
            <option *ngFor="let n of tableOneToHundred" [value]="n">
              {{ n }}
            </option>
          </select>
        </div>
        <button (click)="onSubmitSetComment()" id="validate">Valider</button>
        <button (click)="closeSetCommentForm()" id="cancel">Annuler</button>
      </form>
    </section>
  </section>
</article>
