<article class="video-game-form">
  <h3>AJOUTER UN JEU VIDÉO</h3>
  <form [formGroup]="videoGameForm">
    <div class="video-game-form-group">
      <label for="name">Titre du jeu</label>
      <input required id="name" type="text" formControlName="name">
    </div>
    <div class="video-game-form-group">
      <label for="platform">Plateforme</label>
      <select formControlName="platform">
        <option value="2">PC Steam</option>
        <optgroup label="Nintendo">
          <option value="1">Nintendo Switch</option>
          <option value="4">GameBoy Advanced</option>
          <option value="5">GameBoy / GameBoy Color</option>
          <option value="7">Nintendo DS</option>
          <option value="8">Nintendo 3DS</option>
        </optgroup>
        <optgroup label="Sony">
          <option value="3">PlayStation 5</option>
          <option value="6">PlayStation 4</option>
          <option value="9">PlayStation 3</option>
          <option value="10">PlayStation 2</option>
          <option value="11">Playstation</option>
        </optgroup>
        <optgroup label="Microsoft">
          <option value="12">Xbox</option>
          <option value="13">Xbox 360</option>
          <option value="14">Xbox One</option>
          <option value="15">Xbox Series</option>
        </optgroup>
      </select>
    </div>
    <div class="video-game-form-group">
      <label for="description">Description</label>
      <textarea required id="description" formControlName="description"></textarea>
    </div>
    <div class="video-game-form-group">
      <label for="advice">Avis du jeu</label>
      <textarea required id="advice" formControlName="advice"></textarea>
    </div>
    <div class="video-game-form-group">
      <label for="imgBox">Image de la boîte</label>
      <input id="imgBox" type="text" formControlName="imgBox">
    </div>
    <div class="video-game-form-group">
      <label for="imgTheme">Image de fond</label>
      <input id="imgTheme" type="text" formControlName="imgTheme">
    </div>
    <div class="video-game-form-group">
      <label for="grade">Note du jeu</label>
      <input required id="grade" type="text" formControlName="grade">
    </div>
    <div class="video-game-form-group">
      <label for="releaseDate">Date de sortie</label>
      <input id="releaseDate" type="date" formControlName="releaseDate">
    </div>
    <div class="video-game-form-group">
      <label for="averagePrice">Prix moyen du jeu</label>
      <input id="averagePrice" type="text" formControlName="averagePrice">
    </div>
    <div class="video-game-form-group-dispo">
      <label for="disponibility">Disponibilité</label>
      <div class="dispo-choices">
        <div class="choice">
          <label><input type="radio" class="disponibility" value="true" formControlName="disponibility">
            Disponible</label>
        </div>
        <div class="choice">
          <label><input type="radio" class="disponibility" value="false" formControlName="disponibility">
            Indisponible</label>
        </div>
      </div>
    </div>
    <div class="action-button">
      <button type="submit" (click)="onSubmitForm()">Ajouter le jeu</button>
    </div>
  </form>
</article>


<article class="video-game-preview" *ngIf="videoGamePreview$ | async as videoGame">
  <section class="video-game-theme" *ngIf="videoGame.imgTheme">
    <img [src]="videoGame.imgTheme" [alt]="videoGame.name">
  </section>
  <section class="video-game-head">
    <div class="video-game-pres">
      <h3 class="name" *ngIf="videoGame.name">{{ videoGame.name }}</h3>
      <h4 class="platform" *ngIf="videoGame.platform">Sur {{ videoGame.platform }}</h4>
      <h4 class="video-game-mark" *ngIf="videoGame.grade" [ngClass]="{ verygood: videoGame.grade >= 75 && videoGame.grade <= 100,
                     good: videoGame.grade >= 60 && videoGame.grade <= 74,
                     medium: videoGame.grade >= 50 && videoGame.grade <= 59,
                     notenough: videoGame.grade >= 35 && videoGame.grade <= 49,
                     bad: videoGame.grade >= 0 && videoGame.grade <= 34
                   }"><span>{{ videoGame.grade }}</span> </h4>
      <p *ngIf="videoGame.releaseDate"><span>Date de sortie</span> : {{ videoGame.releaseDate| date: 'le dd MMMM yyyy' }}</p>
      <p *ngIf="videoGame.averagePrice"><span>Prix moyen</span> : {{ videoGame.averagePrice }} €</p>
      <p *ngIf="videoGame.disponibility === true"><span *ngIf="videoGame.disponibility">En vente en magasin</span></p>
      <p *ngIf="videoGame.disponibility === false"><span *ngIf="videoGame.disponibility">indisponible</span></p>
    </div>
    <div class="video-game-box-zone" *ngIf="videoGame.imgBox">
      <img class="video-game-box" [src]="videoGame.imgBox" [alt]="videoGame.name">
    </div>
  </section>
  <section class="video-game-content">
    <div class="video-game-description" *ngif="videoGame.description">
      <h4>Description du jeu :</h4>
      <p>
        {{ videoGame.description }}
      </p>
    </div>
    <div class="video-game-advice" *ngIf="videoGame.advice">
      <h4>Mon avis personnel : </h4>
      {{ videoGame.advice }}
    </div>
  </section>
</article>
