@media all {}



@media (min-width:1400px) {}



@media (max-width:1399px) and (min-width:1200px) {}



@media (max-width: 1199px) and (min-width: 993px) {}



@media (max-width:992px) and (min-width: 768px) {}



@media (max-width:767px) and (min-width:576px) {}



@media (max-width:576px) and (min-width:0px) {}



main {
    margin-top: 150px;
    margin-bottom: 75px;
}


main .registration-card {
    width: 100%;
    background-color: rgb(235, 163, 39);
    box-shadow: 6px 4px 4px rgba(19, 35, 72, 0.25);
    padding: 20px 0px 50px 0px;
    margin-top: 50px;
}

article h3 {
    text-align: center;
    font-weight: 1500 !important;
    padding: 20px 0px;
    font-size: 220%;
    text-transform: uppercase;
}

article h5 {
    font-size: 125%;
    width: 75%;
    margin-left: 10%;
    padding-bottom: 25px;
}

article form {
    width: 95%;
    margin-left: 2.5%;
    font-weight: 650;
    font-size: 125%;
    display: flexbox;
}

form .form-group {
    width: 90%;
    padding: 10px;
    margin-left: 5%;
    display: inline-flex;
}

.private-fields-dispo label {
    font-size: 16px;
    text-decoration: underline;
    color: rgb(175, 56, 5);
}

.private-fields-dispo input {
    height: 25px;
    width: 25px;
}

form p {
    font-size: 14px;
    width: 50%;
    margin-left: 40%;
    text-justify: newspaper; 
    margin-bottom: 15px;
}

form p span {
    font-size: 18px;
    text-decoration: underline;
}

.form-group label {
    width: 30%;
    padding-left: 5%;
    padding-right: 5%;
}

.form-group input {
    width: 50%;
    margin-left: 2.5%;
    padding: 3px 10px;
    border-radius: 0.355em;
    font-size: 16px;
}

.form-group select {
    width: 120px;
    margin-left: 2.5%;
    text-align: center;
}

.form-group textarea {
    width: 50%;
    height: 125px;
    margin-left: 2.5%;
}

.info,
.warning {
    width: 50%;
    margin-left: 20%;
    text-align: right;
    margin-bottom: 10px;

}

.info {
    font-size: 12px;
    font-weight: bold;
}

.warning {
    color: rgb(175, 5, 25);
    font-size: 14px;
}

.warning-2 {
    font-weight: bolder;
}

form button {
    font-size: 32px !important;
    border-radius: 2em;
    margin-left: 40%;
    margin-top: 25px;
    border: 3px solid rgba(56, 99, 200, .15);
    color: white;
    background-color: rgb(15, 15, 25);
    width: 300px;
    padding: 5px;
    transition: 350ms 450ms ease-out;
    transform: translate(-2px, -2px);
    text-transform: uppercase;
    margin-bottom: 15px;
    cursor: pointer;
}

.registration-card form button:hover {
    box-shadow: none;
    transition: 350ms 550ms ease-in-out;
    transform: translate(2px, 2px);
}

@media (max-width:767px) {
    form .form-group {
        width: 95%;
        padding: 10px;
        margin-left: 2.5%;
        display: block;
    }

    .form-group label {
        width: 80%;
        padding-left: 5%;
        padding-right: 5%;
        text-align: center !important;
    }

    .form-group input,
    .form-group textarea {
        width: 90%;
        margin-left: 0px;
        padding: 3px 10px;
        border-radius: 0.355em;
        font-size: 16px;
    }


    form button {
        font-size: 24px;
        margin-left: 10%;
        cursor: pointer;
    }
}