<article class="video-game-card" [ngClass]="{'stay': isAnimated, 'appears': true, 'hide': false }">
  <section class="video-game-theme">
    <img [src]="videoGame.imgTheme" [alt]="videoGame.name + ' box'">
  </section>
  <section class="video-game-head">
    <div class="video-game-pres">
      <h3 class="name">{{ videoGame.name }}</h3>
      <h4 class="platform">Sur
        <span *ngIf="videoGame.platform === 1" class="platform">Nintendo Switch</span>
        <span *ngIf="videoGame.platform === 2" class="platform">PC Steam</span>
        <span *ngIf="videoGame.platform === 3" class="platform">PlayStation 5</span>
        <span *ngIf="videoGame.platform === 4" class="platform">GameBoy Advanced</span>
        <span *ngIf="videoGame.platform === 5" class="platform">Gameboy/GameBoy Color</span>
        <span *ngIf="videoGame.platform === 6" class="platform">PlayStation 4</span>
        <span *ngIf="videoGame.platform === 7" class="platform">Nintendo DS</span>
        <span *ngIf="videoGame.platform === 8" class="platform">Nintendo 3DS</span>
        <span *ngIf="videoGame.platform === 9" class="platform">PlayStation 3</span>
        <span *ngIf="videoGame.platform === 10" class="platform">PlayStation 2</span>
        <span *ngIf="videoGame.platform === 11" class="platform">PlayStation</span>
        <span *ngIf="videoGame.platform === 12" class="platform">Xbox</span>
        <span *ngIf="videoGame.platform === 13" class="platform">Xbox 360</span>
        <span *ngIf="videoGame.platform === 14" class="platform">Xbox One</span>
        <span *ngIf="videoGame.platform === 15" class="platform">Xbox Series</span>
      </h4>
      <p class="perso-grade">Note personnelle</p>
      <h4 class="video-game-grade" [ngClass]="{ verygood: videoGame.grade >= 75 && videoGame.grade <= 100,
                     good: videoGame.grade >= 60 && videoGame.grade <= 74,
                     medium: videoGame.grade >= 50 && videoGame.grade <= 59,
                     notenough: videoGame.grade >= 35 && videoGame.grade <= 49,
                     bad: videoGame.grade >= 0 && videoGame.grade <= 34
                   }" ><span>{{ videoGame.grade }}</span> </h4>
      <p class="users-grade" *ngIf="comments.length > 0">Note utilisateur</p>
      <h4 class="video-game-users-grade" *ngIf="comments.length > 0" [ngClass]="{ verygood: videoGame.averageUsersGrade >= 75 && videoGame.averageUsersGrade <= 100,
                     good: videoGame.averageUsersGrade >= 60 && videoGame.averageUsersGrade <= 74,
                     medium: videoGame.averageUsersGrade >= 50 && videoGame.averageUsersGrade <= 59,
                     notenough: videoGame.averageUsersGrade >= 35 && videoGame.averageUsersGrade <= 49,
                     bad: videoGame.averageUsersGrade >= 0 && videoGame.averageUsersGrade <= 34
                   }" ><span> {{ averageUsersGrade$ | async }}</span>
      </h4>
      <p><span>Date de sortie</span> : {{ videoGame.releaseDate | date: 'le dd MMMM yyyy' }}</p>
      <p><span>Prix moyen</span> : {{ videoGame.averagePrice }} €</p>
      <p *ngIf="videoGame.disponibility === true"><span>En vente en magasin</span></p>
      <p *ngIf="videoGame.disponibility === false"><span>indisponible en magasin (hors spécialiste et occasion)</span></p>
      <p *ngIf="videoGame.disponibility === true"><span><a href="{{ videoGame.link }}" target="_blank" style="text-transform:uppercase;">Lien vers achat</a></span> </p>
      <p class="video-game-genders"><span>Genres</span> : </p>
      <div class="video-game-genders-box">
        <ul class="video-game-genders-list">
          <li class="video-game-gender" *ngFor="let gender of videoGame.genders" [ngClass]="{ rpg: gender === 1, strat: gender === 12, tact: gender === 11,
                      gestion : gender === 6, refl : gender === 7, fant: gender === 3,
                      ecolo: gender === 8, ow : gender === 5, avent: gender === 2,
                      crea : gender === 4, sante: gender === 9, survie: gender === 10 }">
            <span *ngIf="gender === 1">RPG</span>
            <span *ngIf="gender === 2">Aventure</span>
            <span *ngIf="gender === 3">Fantastique</span>
            <span *ngIf="gender === 4">Création</span>
            <span *ngIf="gender === 5">Open World</span>
            <span *ngIf="gender === 6">Gestion</span>
            <span *ngIf="gender === 7">Réflexion</span>
            <span *ngIf="gender === 8">Écologie</span>
            <span *ngIf="gender === 9">Santé</span>
            <span *ngIf="gender === 10">Survie</span>
            <span *ngIf="gender === 11">Tactique</span>
            <span *ngIf="gender === 12">Stratégie</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="video-game-box-zone">
      <img class="video-game-box" [src]="videoGame.imgBox" [alt]="videoGame.name + ' theme'">
    </div>
  </section>
  <section class="likes-zone">
    <i (click)="onAddLikes()" *ngIf="currentUser && !onLike" class="fa fa-thumbs-up"></i>
    <i (click)="onRemoveLikes()" *ngIf="currentUser && onLike" class="fa fa-thumbs-down"></i>
    <h6 class="likes-nb-title" *ngIf="!currentUser"> Nb likes</h6>
    <h5 class="likes-nb">{{ videoGame.likes.likes }}</h5>
  </section>
  <section class="video-game-content">
    <div class="video-game-description">
      <h4>Description du jeu :</h4>
      <p>
        {{ videoGame.description }}
      </p>
    </div>
    <div class="video-game-advice">
      <h4>Mon avis personnel : </h4>
      {{ videoGame.advice }}
    </div>
    <button (click)="returnToVideoGameList()">Retour à la liste</button>
  </section>
</article>
<div class="comments-form">
  <app-comments-form *ngIf="!isConnected()"></app-comments-form>
</div>
<div class="comments-form">
  <app-comments-user *ngIf="isConnected()"></app-comments-user>
</div>

<div class="comments-list" *ngIf="comments.length > 0">
  <app-comments-card *ngFor="let comment of comments" [comment]="comment"></app-comments-card>
</div>
