@media all {
  main {
    margin-bottom: 25px;
    margin-top: 140px;
    display:flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
  }
  
  main .video-game-card {
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: rgb(25, 25, 35);
    color: whitesmoke;
    box-shadow: 4px 3px 3px rgb(45, 45, 60);
    padding-bottom: 25px;
    text-transform: none;
    border: 3px solid rgb(235, 163, 39);
  }
  
  h2,
  h3,
  h4,
  h5,
  .video-game-genders>span {
    text-transform: uppercase;
  }

  h2, h3, .perso-grade {
    color: rgb(220, 150, 25);
  }

  
  .video-game-card .video-game-card-theme {
    width: 100%;
    border-bottom: 5px solid rgb(235, 163, 39);
    background-image: none;
  }

  .video-game-card-theme img {
    border: 2px solid rgb(235, 163, 39);
  }
  

  .video-game-card .video-game-card-head {
    margin-left: 40px;
  }
  
  .video-game-card-head h3 {
    margin-bottom: 10px;
    margin-top: 15px;
    text-transform: uppercase;
  }

  
  .video-game-card-head .name,
  .video-game-card-head .platform {
    margin-bottom: 10px;
  }
  

  .video-game-card-head .perso-grade {
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    font-size: 110%;
  }
  
  .video-game-card-head .video-game-grade {
    height: 60px;
    width: 60px;
    padding: 20px;
    border-radius: 0.345em;
    position: absolute;
    z-index: 50;
    box-shadow: 5px 3px 3px rgba(10, 10, 10, .25);
  }

  
  .video-game-card-head span a {
    color: whitesmoke;
    margin-top: 10px;
    font-size: 16px;
  }
  

  .video-game-card-head .video-game-box-zone {
    position: absolute;
    border-radius: 15px;
    width: min-content;
    box-shadow: 5px 3px 3px rgba(10, 10, 10, .25);
  }
  
  .video-game-box-zone .video-game-box {
    width: auto;
    border-radius: 3px;
    opacity: .85;
  }
  

  .video-game-card-head .video-game-genders-box {
    font-weight: 750;
  }
  
  .video-game-genders-box .video-game-genders-list {
    display: flex;
    list-style: none;
    flex-flow: row wrap;
    font-weight: 750;
  }
  
  .video-game-genders-list .video-game-gender {
    padding: 5px;
    width: 200px;
    margin: 5px;
    font-weight: 800;
    font-size: 18px;
    color: whitesmoke;
    border-radius: 1.75em;
    text-align: center;
    box-shadow: 2px 1px 2px rgb(30, 30, 40);
  }
  
  .video-game-gender {
    width: 100%;
    text-align: center;
    font-weight: 750;
  }
  

  .video-game-content {
    width: 95%;
    margin-left: 2.5%;
    padding: 10px;
    padding-bottom: 25px;
  }
  
  .video-game-content h4 {
    padding: 10px;
    font-weight: 800;
    text-transform: uppercase;
  }
  
  .video-game-content .video-game-description,
  .video-game-content .video-game-advice {
    padding: 10px;
  }
  
  .video-game-content .go-to-vg {
    font-size: 125%;
    border: none;
    position: absolute;
    padding: 15px;
    width: 300px;
    background-color: rgb(235, 163, 39);
    text-decoration: none;
    color:rgb(30, 30, 45);
    text-transform: uppercase;
    border-radius: 2em;
    font-weight: 800;
    text-align: center;
    transition: all 250ms 250ms ease-out;
    box-shadow: 4px 3px 3px rgb(45, 45, 60);
    cursor:pointer;
  }
  
  .video-game-content .go-to-vg:hover {
    transform : translate(3px, 2px);
    box-shadow: none;
  }
  
  .comments-form, .comments-list {
    width: 100%;
  }
}
  


@media (min-width:1400px) {
  .video-game-card {
    width: 80%;
  }
  
  .video-game-card-theme img {
    height: 400px;
    width: 80%;
    margin-left: 10%;
  }
  
  .video-game-head .video-game-pres {
    margin-left: 10px;
  }
  
  .video-game-pres h3 {
    font-size: 26px;
  }
  

  .video-game-pres .name,
  .video-game-pres .platform {
    font-size: 23px;
    font-weight: 800;
  }
  

  .video-game-pres span {
    font-weight: 650;
    font-size: 17px;
  }
  
  .video-game-pres span a {
    color: whitesmoke;
    margin-top: 10px;
    font-size: 16px;
  }


  .video-game-pres .perso-grade {
    font-size: 110%;
    width: 200px;
    margin-left: 750px;
    margin-top: -55px;
  }

  .video-game-grade {
    margin-left: 805px;
    margin-top:-25px;
    font-size: 50px;
  }

  .video-game-pres .video-game-genders-box {
    width: 60%;
  }
  
  .video-game-genders-box .video-game-genders-list {
    margin-top:50px;
  }

  .video-game-gender {
    font-weight: 750;
  }
  

  .video-game-content h4 {
    font-size:24px;
  }
  
  .video-game-content .video-game-description,
  .video-game-content .video-game-advice {
    width: 75%;
    font-size: 18px;
  }
  
  .video-game-content .go-to-vg {
    margin-left: 70%;
    margin-top: -25px;
    font-weight: 800;
  }
}
  


@media(max-width:1399px) and (min-width:1300px) {
  .video-game-card {
    width: 85%;
    margin-left:initial;
    padding-bottom: 25px;
  }
  

  .video-game-card-theme img {
    width: 80%;
    margin-left:10%;
  }
 

  .video-game-head .video-game-pres {
    margin-left: 10px;
    margin-bottom: 50px;
  }

  .video-game-pres h3 {
    font-size: 26px;
  }
    
  
  .video-game-users-grade, .video-game-grade {
    font-size: 50px;
  }

  .video-game-pres .video-game-grade {
    margin-left: 750px;
    margin-top: -25px;
  }
  
  .video-game-pres .perso-grade {
    margin-left: 710px;
    margin-top: -60px;
  }


  .video-game-pres .video-game-genders-box {
    width: 60%;
  }
  
  .video-game-pres .video-game-genders-box .video-game-genders-list {
    margin-left: -5px;
    margin-top: 10px;
  }
  

  .video-game-content h4 {
    font-size: 22px;
  }

  .video-game-content .go-to-vg {
    margin-left: 70%;
    margin-top: -55px;
  }
}


  
@media (max-width:1299px) and (min-width:1200px) {
  .video-game-card {
    width: 85%;
    margin-left: 7.5%;
    padding-bottom: 25px;
  }
  

  .video-game-card-theme img {
    width: 80%;
    margin-left:10%;
  }
  

  .video-game-head .video-game-pres {
    margin-left: 10px;
    margin-bottom: 50px;
  }

  .video-game-pres h3 {
    font-size: 26px;
  }

  
  .video-game-pres .name,
  .video-game-pres .platform {
    font-size: 22px;
    font-weight: 800;
  }

  
  .video-game-users-grade, .video-game-grade {
    font-size: 50px;
  }

  .video-game-pres .video-game-grade {
    margin-left: 730px;
    margin-top: -25px;
  }
  
  .video-game-pres .perso-grade {
    margin-left: 690px;
    margin-top: -60px;
  }
  
  .perso-grade span a {
    color: whitesmoke;
    margin-top: 10px;
    font-size: 16px;
  }


  .video-game-genders-box {
    width: 60%;
  }
  
  .video-game-genders-box .video-game-genders-list {
    margin-left: -25px;
    margin-top: 40px;
    width:100%;
  }
  

  .video-game-content h4 {
    font-size: 22px;
  }
  
  .video-game-content .go-to-vg {
    margin-left: 67.5%;
    margin-top: -55px;
  }
}
  
  
  
@media (max-width:1199px) and (min-width:993px) {
  .video-game-card {
    width: 90%;
    margin-left: 6.5%;
    padding-bottom: 75px;
  }
  

  .video-game-card .video-game-card-theme img {
    margin-left: 5%;
    width: 90%;
  }
  

  .video-game-head .video-game-pres {
    margin-left: 10px;
  }
  
  .video-game-pres h3 {
    font-size: 24px;
  }

  
  .video-game-pres .name,
  .video-game-pres .platform {
    font-size: 22px;
    font-weight: 800;
  }

  
  .video-game-users-grade, .video-game-grade {
    font-size: 42px;
    width: 40px!important;
    height: 40px!important;
  }

  .video-game-pres .video-game-grade {
    margin-left: 630px;
    margin-top: 5px;
  }
  
  .video-game-pres .perso-grade {
    margin-left: 590px;
    margin-top: -30px;
  }


  .video-game-genders-box {
    width: 60%;
  }
  
  .video-game-genders-box .video-game-genders-list {
    margin-left: -5px;
    margin-top: 10px;
    padding-bottom: 50px;
  }
  

  .video-game-content h4 {
    font-size: 22px;
  }
  
  .video-game-content .go-to-vg {
    margin-left: 35%;
    margin-top: -50px;
  }
}
  

  
@media (max-width: 992px) and (min-width:768px) {
  .video-game-card {
    width: 98%;
    margin-left: 0.5%;
    padding-bottom: 25px;
  }
  

  .video-game-card .video-game-card-theme img {
    margin-left: 5%;
    width: 90%;
  }
  
    .video-game-head .video-game-pres {
      margin-left: 10px;
    }
  
    .video-game-pres h3 {
      font-size: 22px;
    }
  
    .video-game-users-grade, .video-game-grade {
      font-size: 42px;
      width: 40px!important;
      height: 40px!important;
    }
  
    .video-game-pres .name,
    .video-game-pres .platform {
      font-size: 18px;
      font-weight: 800;
    }

    .video-game-pres .video-game-grade {
      margin-left: 50px;
      margin-top: 75px;
    }
  
    .video-game-pres .perso-grade {
      margin-left: 0px;
      margin-top: 50px;
    }

    .video-game-genders-box {
      margin-top: 25px;
      width: 95%;
      padding-bottom: 50px;
    }
  
    .video-game-genders-box .video-game-genders-list {
      margin-left: 165px;
      margin-top: 10px;
    }
  
    .video-game-gender {
      font-size: 16px!important;
    }
  
    .video-game-content .go-to-vg {
      margin-left: 25%;
      font-size: 100%;
      margin-top: -50px;
    }

  }
  
@media(max-width:767px) and (min-width:620px) {
  main {
    margin-top: 110px;
  }

  main .video-game-card {
    width: 98%;
    margin-left:0.5%;
    padding-bottom: 25px;
    height: auto;
    background-color: rgba(25, 25, 35, .4);
  }


  .video-game-card .video-game-card-theme {
    width:100%;
  }

  .video-game-card-theme img {
    width:100%;
    border:none; 
  }


  .video-game-head {
    padding-top: 50px;
  }
    
  .video-game-head .video-game-pres {     
    margin-left: 10px;
  }

  .video-game-pres h3 {
    font-size: 24px;
    margin-top: 25px;
  }
  
    .video-game-pres .name,
    .video-game-pres .platform {
      font-size: 18px;
      font-weight: 800;
    }

  
  .video-game-grade {
    font-size: 42px;
    width: 40px!important;
    height: 40px!important;
  }
  
  .video-game-pres .video-game-grade {
    margin-left: 375px;
    margin-top: 0px;
  }
  
  .video-game-pres .perso-grade {
    margin-left: 325px;      
    margin-top: -25px;
    font-size: 18px;
  }


  .video-game-genders-box {
    margin-top: 40px;
    padding-bottom: 50px;
  }
  
  .video-game-genders-box .video-game-genders-list {
    margin-left: -25px;
    margin-top: 25px;
    width: 125%;
    z-index: 20;
  }
  
  .video-game-gender {
    font-size: 16px!important;
    width: 125px!important;
  }
  
    
  .video-game-content .go-to-vg {
    margin-left: 22.5%;
    font-size: 100%;
    margin-top: -40px;
    width: 50%!important;
  }
}
  
  
@media (max-width:619px) and (min-width:0px) {
  main {
    margin-top: 110px;
  }


  main .video-game-card {
    width: 98%;
    margin-left: 0.5%;
    padding-bottom: 25px;
    height: auto;
    background-color: rgba(25, 25, 35, .4);
  }

  
  .video-game-card .video-game-card-theme {
    width:100%;  
  }
  
  .video-game-card-theme img {
    width:100%;
    border:none; 
  }

    
  .video-game-card-head .video-game-pres {
    margin-left: -20px;
  }
  
  .video-game-pres h3 {
    font-size: 23px;
    margin-top: 25px;
  }
  
  .video-game-pres h4 {
    font-size: 16px;
  }

  .video-game-pres p {
    font-size: 13px;
  }


  .video-game-pres .name,
  .video-game-pres .platform {
    font-size: 16px;
    font-weight: 800;
  }


  .video-game-grade {
    font-size: 42px!important;
    width: 40px!important;
    height: 40px!important;
  }
  

  .video-game-pres .video-game-grade {
    margin-left: 50px;
    margin-top: 80px;
  }
  
  .video-game-pres .perso-grade {
    margin-left: 5px;
    margin-top: 50px;
    font-size: 18px;
  }

    
  .video-game-genders-box {
    margin-top: 50px;
    padding-bottom: 50px;
    width: 100%;
  }
  
  .video-game-genders-box .video-game-genders-list {
    margin-left: -5px;
    margin-top: 125px;
    width: 100%;
    z-index: 20;
  }
  
  .video-game-gender {
    font-size: 16px!important;
  }
  

  .video-game-content .go-to-vg {
    margin-left: 25%;
    font-size: 90%;
    margin-top: -50px;
    width: 250px!important;
  }
}