@media all {
    main .comment-card {
        margin-top: 25px;
        margin-bottom: 25px;
        background-color: rgb(25, 25, 35);
        border-radius: 0.625em;
        box-shadow: 4px 4px 4px 4px rgba(10, 10, 10, .25);
    }

    .comment-card .comment-head h4, h5 {
        text-transform: uppercase;
        font-weight: 800;
    }

    h4 a {
        color: rgb(220, 220, 230)!important;
        text-transform: none!important;
    }


    .comment-card .comment-avatar {
        background-color: rgba(112, 108, 108, 0.25);
        border-radius: 1em;
        z-index: 50;
        padding: 5px;
        position: absolute;
    }

    .comment-avatar img {
        position: absolute;
    }


    .comment-avatar-verygood {
        border: rgb(8, 78, 25) solid 4px;
        color: whitesmoke;
    }

    .comment-avatar-good {
        border: rgb(8, 199, 56) solid 4px;
    }

    .comment-avatar-medium {
        border: rgb(196, 199, 8) solid 4px;
    }

    .comment-avatar-notenough {
        border: rgb(199, 126, 8) solid 4px;
    }

    .comment-avatar-bad {
        border: rgb(199, 68, 8) solid 4px;
    }


    .comment-card .comment-grade {
        height:60px;
        width: 60px;
        padding: 20px;
        border-radius: 0.345em;
        position: absolute;
        z-index: 50;
        box-shadow: 5px 3px 3px rgba(10, 10, 10, .25);
    }


    .comment-card .comment-body {
        margin-top: 5%;
        margin-left: 2.5%;
    }

    .comment-card .comment-body h5 {
        font-size:26px;
        text-transform: uppercase;
        margin-left: 15%;
        margin-bottom:15px;
        font-family: 'Poppins', sans-serif;
        font-weight: 850;
    }

    .comment-body p {
        text-align: justify;
        text-indent: 5%;
    }

    .comment-card .set-comment-box {
        width: 100%;
        font-size: 18px;
        padding-bottom: 50px;
        height: 250px;
    }

    .comment-card .set-comment-box button {
        position: relative;
        font-size: 125%;
        border: 3px solid rgba(56, 99, 200, .15);
        padding: 10px 50px;
        margin-top: 15px;
        color: white;
        background-color: rgb(30, 30, 40);
        box-shadow: 6px 4px 4px rgba(19, 35, 72, 0.25);
        text-transform: uppercase;
        border-radius: 0.75em;
        font-weight: 800;
        transition: all 250ms 250ms ease-out;
    }

    .comment-card .set-comment-box button:hover {
        transform: translate(5px, 2px);
        transition: all 250ms 350ms ease-in;
        box-shadow: none;
    }


    .comment-card #open-comment-form {
        margin-left: 30%;
    }

    .comment-card .set-comment-form-box {
        width: 90%;
        margin-left: 5%;
        font-weight: 750;
    }

    .comment-card .set-comment-form-box form {
        width: 100%;
        padding: 10px;
        border: rgb(30, 30, 40) 3px solid;
        border-radius: .55em;
    }

    .comment-card form .set-comment-form-group {
        flex: auto;
        display: flex;
        width: 100%;
    }

    .comment-card .set-comment-form-group label {
        width: 30%;
        padding: 10px;
        text-transform: uppercase;
        font-size: 16px;
    }

    .comment-card .set-comment-form-group input, textarea, select {
        border-radius: .355em;
        margin: 2.5%;
        padding: 5px;
    }

    .comment-card .set-comment-form-group input, textarea {
        width: 60%;
        font-size: 16px;
    }

    .comment-card .set-comment-form-group select {
        font-size: 16px;
    }

    .comment-card .set-comment-form-group textarea {
        height: 100px;
    }

    .comment-card .set-comment-form-box #validate, #cancel {
        position: absolute;
    }

    .comment-card .set-comment-form-box #validate {
        margin-left: 15%;
    }

    .comment-card .set-comment-form-box #cancel {
        margin-left: 35%;
    }


    .verygood-comment {
        border: rgb(8, 78, 25) 3px solid;
        background-color: rgba(8, 78, 25, 0.75);
        color: white;
    }
    
    .good-comment {
        border: rgb(8, 199, 56) 3px solid;
        background-color: rgba(11, 133, 41, 0.35);
        color: white;
    }
    
    .medium-comment {
        border: rgb(196, 199, 8) 3px solid;
        background-color: rgba(196, 199, 8, .75);
        color: white;
    }
    
    .notenough-comment {
        border: rgb(199, 126, 8) 3px solid;
        background-color: rgba(199, 126, 8, .65);
        color: white;
    }
    
    .bad-comment {
        border: rgb(199, 68, 8) 3px solid;
        background-color: rgba(199, 68, 8, .75);
        color: white;
    }
    
    .form-appeared {
        height:800px;
    }
    
    .form-disappeared {
        height: 400px;
    }
}

@media (min-width: 1400px) {
    .comment-card {
        width:99.5%;
        margin-left:0%;
        height: 350px;
        display: flex;
    }

    .verygood-comment-head {
        border-right: rgb(8, 78, 25) solid 4px;
    }

    .good-comment-head {
        border-right: rgb(8, 199, 56) solid 4px;
    }

    .medium-comment-head {
        border-right: rgb(196, 199, 8) solid 4px;
    }

    .notenough-comment-head {
        border-right: rgb(199, 126, 8) solid 4px;
    }

    .bad-comment-head {
        border-right: rgb(199, 68, 8) solid 4px;
    }
    
    .comment-card .comment-head {
        width: 25%;
        margin-left:0px;
        height:100%;
    }
    
    .comment-head .avatar {
        height:35%;
        width:auto;
        margin-left:30%;
        margin-top: 205px;
        position: absolute;
    }

    .comment-card .comment-head h4 {
        width: 100%;
        text-align: center;
        font-size:24px;
        position: absolute;
        margin-top: 130px;
    }

    .comment-card .comment-grade {
        position: absolute;
        font-size: 50px;
        margin-left: 8%;
        margin-top: 25px;
    }

    .comment-card .comment-body {
        width: 75%;
        margin-top: 75px;
        margin-left: 2.5%;
    }

    .comment-body h4 {
        font-size: 28px;
    }

    .comment-card .comment-body p {
        width: 80%;
        margin-left: 5%;
        margin-top: 25px;
    }

    .comment-card .user-isAdmin {
        font-size: 175%;
        text-align:center;
        margin-left: 20px;
        width: auto;
    }
}

@media (max-width:1399px) and (min-width:1200px) {
    .comment-card {
        width:99.5%;
        margin-left:0%;
        height: 350px;
        display: flex;
    }

    .verygood-comment-head {
        border-right: rgb(8, 78, 25) solid 4px;
    }

    .good-comment-head {
        border-right: rgb(8, 199, 56) solid 4px;
    }

    .medium-comment-head {
        border-right: rgb(196, 199, 8) solid 4px;
    }

    .notenough-comment-head {
        border-right: rgb(199, 126, 8) solid 4px;
    }

    .bad-comment-head {
        border-right: rgb(199, 68, 8) solid 4px;
    }
    
    .comment-card .comment-head {
        width: 25%;
        margin-left:0px;
        height:100%;
    }
    
    .comment-head .avatar {
        height:35%;
        width:auto;
        margin-left:30%;
        margin-top: 205px;
        position: absolute;
    }

    .comment-card .comment-head h4 {
        width: 100%;
        text-align: center;
        font-size:24px;
        position: absolute;
        margin-top: 130px;
    }

    .comment-card .comment-grade {
        position: absolute;
        font-size: 50px;
        margin-left: 8%;
        margin-top: 25px;
    }

    .comment-card .comment-body {
        width: 75%;
        margin-top: 75px;
        margin-left: 2.5%;
    }

    .comment-card .comment-body p {
        width: 80%;
        margin-left: 5%;
        margin-top: 25px;
    }

    .comment-card .user-isAdmin {
        font-size: 175%;
        text-align:center;
        margin-left: 20px;
        width: auto;
    }
}


@media (max-width:1199px) and (min-width: 993px) {
    .comment-card {
        width:99.5%;
        margin-left:0%;
        height: 350px;
        display: flex;
    }

    .verygood-comment-head {
        border-right: rgb(8, 78, 25) solid 4px;
    }

    .good-comment-head {
        border-right: rgb(8, 199, 56) solid 4px;
    }

    .medium-comment-head {
        border-right: rgb(196, 199, 8) solid 4px;
    }

    .notenough-comment-head {
        border-right: rgb(199, 126, 8) solid 4px;
    }

    .bad-comment-head {
        border-right: rgb(199, 68, 8) solid 4px;
    }
    
    .comment-card .comment-head {
        width: 25%;
        margin-left:0px;
        height:100%;
    }
    
    .comment-head .avatar {
        height:32.5%;
        width:auto;
        margin-left:25%;
        margin-top: 205px;
        position: absolute;
    }

    .comment-card .comment-head h4 {
        width: 100%;
        text-align: center;
        font-size:24px;
        position: absolute;
        margin-top: 130px;
    }

    .comment-card .comment-grade {
        position: absolute;
        font-size: 50px;
        margin-left: 7.5%;
        margin-top: 25px;
    }

    .comment-card .comment-body {
        width: 75%;
        margin-top: 75px;
        margin-left: 2.5%;
    }

    .comment-card .comment-body p {
        width: 85%;
        margin-left: 2.5%;
        margin-top: 25px;
    }

    .comment-card .user-isAdmin {
        font-size: 175%;
        text-align:center;
        margin-left: 20px;
        width: auto;
    }
}


@media (max-width:992px) and (min-width:768px) {
    .comment-card {
        width:99%;
        margin-left:0%;
        height: 275px;
        display: flex;
    }

    .verygood-comment-head {
        border-right: rgb(8, 78, 25) solid 4px;
    }

    .good-comment-head {
        border-right: rgb(8, 199, 56) solid 4px;
    }

    .medium-comment-head {
        border-right: rgb(196, 199, 8) solid 4px;
    }

    .notenough-comment-head {
        border-right: rgb(199, 126, 8) solid 4px;
    }

    .bad-comment-head {
        border-right: rgb(199, 68, 8) solid 4px;
    }
    
    .comment-card .comment-head {
        width: 30%;
        margin-left:0px;
        height:100%;
    }
    
    .comment-head .avatar {
        height:32.5%;
        width:auto;
        margin-left:30%;
        margin-top: 175px;
        position: absolute;
    }

    .comment-card .comment-head h4 {
        width: 100%;
        text-align: center;
        font-size:22px;
        position: absolute;
        margin-top: 110px;
    }

    .comment-card .comment-grade {
        position: absolute;
        font-size: 45px;
        height: 50px;
        width: 50px;
        margin-left: 8.5%;
        margin-top: 10px;
    }

    .comment-card .comment-body {
        width: 70%;
        margin-top: 50px;
        margin-left: 2.5%;
    }

    .comment-card .comment-body p {
        width: 90%;
        margin-left: 2.5%;
        margin-top: 25px;
    }

    .comment-card .user-isAdmin {
        font-size: 175%;
        text-align:center;
        margin-left: 20px;
        width: auto;
    }
}


@media (max-width:767px) and (min-width:620px) {
    .comment-card {
        width:99%;
        margin-left:0%;
        height: 275px;
        display: flex;
    }
    
    .verygood-comment-head {
        border-right: rgb(8, 78, 25) solid 4px;
    }

    .good-comment-head {
        border-right: rgb(8, 199, 56) solid 4px;
    }

    .medium-comment-head {
        border-right: rgb(196, 199, 8) solid 4px;
    }

    .notenough-comment-head {
        border-right: rgb(199, 126, 8) solid 4px;
    }

    .bad-comment-head {
        border-right: rgb(199, 68, 8) solid 4px;
    }
    
    .comment-card .comment-head {
        width: 30%;
        margin-left:0px;
        height:100%;
    }
    
    .comment-head .avatar {
        height:32.5%;
        width:auto;
        margin-left:30%;
        margin-top: 175px;
        position: absolute;
    }

    .comment-card .comment-head h4 {
        width: 100%;
        text-align: center;
        font-size:22px;
        position: absolute;
        margin-top: 110px;
    }

    .comment-card .comment-grade {
        position: absolute;
        font-size: 45px;
        height: 50px;
        width: 50px;
        margin-left: 8.5%;
        margin-top: 10px;
    }

    .comment-card .comment-body {
        width: 70%;
        margin-top: 50px;
        margin-left: 2.5%;
    }

    .comment-card .comment-body p {
        width: 90%;
        margin-left: 2.5%;
        margin-top: 25px;
        font-size: 14px;
    }

    .comment-card .user-isAdmin {
        font-size: 175%;
        text-align:center;
        margin-left: 20px;
        width: auto;
    }
}

@media (max-width:619px) {
    .comment-card {
        width:99%;
        margin-left:0%;
        padding-bottom : 25px;
    }
    
    .verygood-comment-head {
        border-bottom: rgb(8, 78, 25) solid 4px;
    }

    .good-comment-head {
        border-bottom: rgb(8, 199, 56) solid 4px;
    }

    .medium-comment-head {
        border-bottom: rgb(196, 199, 8) solid 4px;
    }

    .notenough-comment-head {
        border-bottom: rgb(199, 126, 8) solid 4px;
    }

    .bad-comment-head {
        border-bottom: rgb(199, 68, 8) solid 4px;
    }
    
    .comment-card .comment-head {
        width: 100%;
        margin-left:0px;
        margin-top:0px;
        display: flex;
        height: 140px;
    }
    
    .comment-head .avatar {
        height:125px;
        width:auto;
        margin: 10px;
        position: absolute;
    }

    .comment-card .comment-head h4 {
        width: 75%;
        padding-left: 5%;
        margin-left: 150px;
        font-size:22px;
        margin-top: 15px;
    }

    .comment-card .comment-grade {
        font-size: 45px;
        height: 50px;
        width: 50px;
        margin-top: -125px;
        margin-left: 75%;
        position: absolute;
    }

    .comment-card .comment-body {
        margin-top: 15px;
        margin-left: 2.5%;
    }

    .comment-card .comment-body p {
        width: 90%;
        margin-left: 2.5%;
        margin-top: 25px;
        font-size: 14px;
    }

    .comment-card .user-isAdmin {
        font-size: 175%;
        text-align:center;
        margin-left: 20px;
        width: auto;
    }
}