@media all,screen {
  footer {
    background-color: rgb(30, 30, 40);
    color: white;
    height: 75px;
    padding: 5px;
    width: 100%;

    section {
      h4 {
        padding: 10px;
        width: 95%;
        text-align: right;
      }

      h5 {
        padding-left: 10px;
        width: 95%;
        text-align: right;
      }

      a {
        color: white;
      }
    }
  }

}


// xxl screens
@media (max-width:1800px) and (min-width:1400px) {
  footer {
    h4 {
      font-size:20px;
    }

    h5 {
      font-size:17px;
    }
  }
}


// xl screens
@media (max-width:1399px) and (min-width:1200px) {
  footer {
    h4 {
      font-size:20px;
    }

    h5 {
      font-size:17px;
    }
  }
}


// l screens
@media (max-width:1199px) and (min-width:993px) {
  footer {
    h4 {
      font-size:20px;
    }

    h5 {
      font-size:17px;
    }
  }
}


// md screens
@media (max-width:992px) and (min-width:768px) {
  footer {
    h4 {
      font-size:17px;
    }

    h5 {
      font-size:15px;
    }
  }
}


// sm screens
@media (max-width:767px) and (min-width: 576px) {

}


// xsm screens
@media screen, (max-width:575px) {
  footer {
    h4 {
      font-size:16px;
    }

    h5 {
      font-size:13px;
    }
  }
}



footer {
  background-color: rgb(30, 30, 40);
  color: white;
  height: 75px;
  padding: 5px;
  width: 100%;

  section {
    h4 {
      font-size: 20px;
      padding: 10px;
      width: 95%;
      text-align: right;
    }

    h5 {
      padding-left: 10px;
      font-size: 17px;
      width: 95%;
      text-align: right;
    }

    a {
      color: white;
    }
  }
}
