<article class="comment-form" [ngClass]="{'stay': isAnimated, 'appears': true, 'hide': false }">
  <h3>Ajouter un commentaire</h3>
  <form [formGroup]="commentForm">
    <div class="comment-form-group">
      <label for="title">Titre du commentaire</label>
      <input type="text" formControlName="title" id="title">
    </div>
    <div class="comment-form-group">
      <label for="content">Commentaire</label>
      <textarea formControlName="content" id="content"></textarea>
    </div>
    <div class="comment-grade">
      <label for="grade">Note</label>
      <select formControlName="grade" id="grade">
        <option *ngFor="let n of tableOneToHundred" [value]="n">
          {{ n }}
        </option>
      </select>
    </div>
    <button type="submit" (click)="onSubmitMyComment()">Envoyer</button>
  </form>
</article>

<div *ngIf="!isSentComment">
  <h3 class="comments-preview-title" *ngIf="commentPreview$ | async as comments">Aperçu de votre commentaire</h3>
  <article class="comments-preview" *ngIf="commentPreview$ | async as comments" [ngClass]="{
    'stay': isAnimated,
    'appears': true,
    'hide': false,
    'verygood-comment' : comments.grade >= 75 && comments.grade <= 100,
    'good-comment' : comments.grade >= 60 && comments.grade <= 74,
    'medium-comment' : comments.grade >= 50 && comments.grade <= 59,
    'notenough-comment': comments.grade >= 35 && comments.grade <= 49,
    'bad-comment': comments.grade >= 0 && comments.grade <= 34
    }">
    <section class="comments-preview-head">
      <h4 *ngIf="comments.user">{{ comments.user.username }}</h4>
      <h5 *ngIf="comments.postDate">Le {{ comments.postDate | date: "dd MMMM yyyy, à hh:mm" }}</h5>
      <section *ngIf="comments.user.avatar" class="commments-preview-avatar" [ngClass]="{
                      'comments-avatar-verygood': comments.grade >= 75 && comments.grade <= 100,
                      'comments-avatar-good': comments.grade >= 60 && comments.grade <= 74,
                      'comments-avatar-medium': comments.grade >= 50 && comments.grade <= 59,
                      'comments-avatar-notenough': comments.grade >= 35 && comments.grade <= 49,
                      'comments-avatar-bad': comments.grade >= 0 && comments.grade <= 34
                    }">
        <img [src]="comments.user.avatar" [alt]="comments.user.username">
      </section>
    </section>
    <h4 class="comments-preview-grade" *ngIf="comments.grade" [ngClass]="{ verygood: comments.grade >= 75 && comments.grade <= 100,
                      good: comments.grade >= 60 && comments.grade <= 74,
                      medium: comments.grade >= 50 && comments.grade <= 59,
                      notenough: comments.grade >= 35 && comments.grade <= 49,
                      bad: comments.grade >= 0 && comments.grade <= 34
                    }">
      <span>{{ comments.grade }}</span>
    </h4>
    <section class="comment-preview-body">
      <h5 *ngIf="comments.title">{{ comments.title }}</h5>
      <p *ngIf="comments.content">{{ comments.content }}</p>
    </section>
  </article>
</div>
