.carrousel-card {
  width: 95%;
  margin-right: 2%;

  img {
    height:165px;
    width:100%;
    border: 3px rgba(200, 200, 210, .75) solid;
    border-radius: 0.525em;
    box-shadow: rgb(30, 30, 40) 2px 1px 2px;
    padding: 2px;
  }

  p {
    width: 100%;
    margin-top: 3px;
    opacity: 1;
    text-align: center;
    position: relative;
    transition: all 250ms 550ms ease-out;
  }

  .bg-img-transparent {
      background-color: rgba(200, 200, 205);
    }
}
